h1{
    color: blueviolet;
}

h3{
    color: blue;border: dotted black ;
}
.abc{
    background-color: antiquewhite;
    color: #000;
}
#id1{
    background-color: #000;
    color:#fff;
}

p{
    color: black;
}